<template>
    <!-- <div class="wrapper">

        <router-link to="/">Home</router-link>
        <router-link to="/donations">Donations</router-link>
        <router-link to="/blogs">Blogs</router-link>

        <div class="content-wrapper">
            <router-view></router-view>
        </div>

        <app-footer/>
    </div> -->

    <v-app>
        <v-navigation-drawer app v-model="drawer"> 
            <!-- Side bar -->
            <v-list>
                <v-list-item v-if="!guest">
                    <v-list-item-avatar>
                        <!-- <v-img src="https://randomuser.me/user/api/portraits/men/78.jpg"></v-img> -->
                        <v-img src="https://upload.wikimedia.org/wikipedia/commons/1/12/User_icon_2.svg"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>John wick</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <div class="pa-2" v-if="guest">
                    <v-btn block color="primary" class="mb-1">
                        <v-icon left>mdi-lock</v-icon>
                        Login
                        </v-btn>

                        <v-btn block color="success" class="mb-1">
                            <v-icon left>mdi-account</v-icon>
                            Register
                    </v-btn>
                </div>

                    <v-divider></v-divider>

                    <v-list-item 
                        v-for="(item, index) in menus" 
                        :key="+index"
                        :to="item.route"
                    >

                        <v-list-item-icon>
                            <v-icon left>{{ item.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                        
                    </v-list-item>

                
            </v-list>

            <template v-slot:append v-if="!guest">
                <div class="pa-2">
                    <v-btn block color="red" dark>
                        <v-icon left>mdi-lock</v-icon>
                        Logout
                    </v-btn>
                </div>
            </template>

        </v-navigation-drawer>

        <v-app-bar app color="success" dark>
            <!-- Header -->
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>SanberCodeApp</v-toolbar-title>

            <!-- pemisah konten -->
            <v-spacer></v-spacer>

            <b-btn icon>
                <v-badge color="orange" overlap>
                    <template v-slot:badge>
                        <span>3</span>
                    </template>
                    <v-icon>mdi-cash-multiple</v-icon>
                </v-badge>
            </b-btn>

            <v-text-field 
                slot="extension"
                hide-details
                append-icon="mdi-microphone"
                flat
                label="Search"
                prepand-inner-icon="mdi-magnify"
                solo-inverted
            >
            </v-text-field>

        </v-app-bar>

        <!-- Sizes your content based upon application components -->
        <v-main>

            <!-- Provides the application the proper gutter -->
            <v-container fluid>

            <!-- If using vue-router -->
            <v-slide-y-transition>
                <router-view></router-view>
            </v-slide-y-transition>
            
            </v-container>
        </v-main>

        <v-card>
            <v-footer absolute app>
                <!-- footer -->
                <v-card-text class="text-center">
                    &copy; {{ new Date().getFullYear() }} - <strong>SanbercodeApp</strong>
                </v-card-text>
            </v-footer>
        </v-card>
        
    </v-app>
</template>

<script>
    export default {
        name : 'App',
        data : () => ({
            drawer : false,
            menus : [
                { title : 'Home', icon : 'mdi-home', route : '/' },
                { title : 'Capaigns', icon : 'mdi-hand-hear', route : '/campaigns' },
            ],
            guest : false,
        }),
        created() {
            console.log('Component mounted.')
        }
    }
</script>
